@import "mixins";
@import "props";

$link-background: #49A9D9;

// container
:host {
  display: block;
}

// header
.header {
  @include flex(center, center);
  height: 80px;
  background-color: $white;
  box-shadow: 0 3px 3px rgba($black, .1);
}

a {
  @include rect(160px, 40px);
  @include flex(center, center);
  border-radius: 5px;
  background-color: lighten($link-background, 20%);
  color: $white;

  &:hover {
    background-color: lighten($link-background, 10%);
  }

  &:active {
    background-color: $link-background;
  }
}

a.active {
  background-color: darken($link-background, 20%);
}

a + a {
  margin-left: 20px;
}
